/* montserrat-700 - latin */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}


/* montserrat-300 - latin */


/* roboto-300 - latin */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), url('../fonts/roboto-v20-latin-300.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    display: block;
    height: 100%;
    text-decoration: none;
}

.container {
    width: 980px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    /* font-family: 'Roboto', sans-serif;
    font-weight: 300; */
}