@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v14-latin-700.woff2') format('woff2'), url('../fonts/montserrat-v14-latin-700.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), url('../fonts/roboto-v20-latin-300.woff') format('woff');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #ffffff;
}

.container {
    width: 320px;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.menu {
    min-width: 320px;
    height: 100%;
    background-image: url(../img/header-img.png);
    background-color: #1a1915;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 22px 0 138px;
}

.nav {
    margin-bottom: 110px;
}

.nav__logo-link {
    display: none;
}

.nav__btn {
    width: 94px;
    height: 40px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #ffffff;
}

.nav__btn:hover,
.nav__btn:focus {
    border: 2px solid #ffffff;
    border-radius: 20px;
}

.menu__logo {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.menu__title {
    display: block;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.menu__text {
    font-size: 18px;
    margin: 0 auto 20px;
    padding: 0 44px;
}

.menu__link {
    width: 280px;
    font-size: 14px;
    line-height: 40px;
    border-radius: 20px;
    background-color: #ff4e50;
    margin: 0 auto;
}

.menu__link:hover,
.menu__link:focus {
    line-height: 36px;
    border: 2px solid #ff4e50;
    background-color: #ffffff;
    color: #ff4e50;
}


/* TEAM SECTION */

.team {
    text-align: center;
    color: #333333;
    padding: 72px 0 58px;
}

h2 {
    font-size: 22px;
    margin-bottom: 18px;
}

.team__list {
    margin-bottom: 28px;
}

.team__list-item {
    width: 236px;
}

.team__list__inner {
    position: relative;
    width: 123px;
    height: 123px;
    margin: 0 auto 21px;
}

.team__list-photo {
    width: 100%;
    border-radius: 50%;
    margin: 0 auto;
}

.team__list__inner::before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-repeat: no-repeat;
    background-position: center;
}

.img__icon-tv::before {
    background-color: #ff4e50;
    background-image: url(../img/team/icon-tv.png);
}

.img__icon-flask::before {
    background-color: #ffa507;
    background-image: url(../img/team/icon-flask.png);
}

.img__icon-coffe::before {
    content: '';
    background-color: #1cd7ad;
    background-image: url(../img/team/icon-coffe.png);
}

.img__icon-telegram::before {
    background-color: #4e73db;
    background-image: url(../img/team/icon-telegram.png);
}

h3 {
    font-size: 14px;
    margin-bottom: 20px;
}

.team__list-about {
    font-size: 14px;
    color: #666666;
    padding: 0 10px;
}

.team__link {
    width: 284px;
    line-height: 40px;
    border-radius: 22px;
    border: 2px solid #ff4e50;
    background-color: rgb(255, 255, 255);
    color: #ff4e50;
    margin: 0 auto;
}

.team__link:hover,
.team__link:focus {
    line-height: 40px;
    background-color: #ff4e50;
    color: #ffffff;
}

@media (max-width: 767px) {
    .team__list-item {
        margin: 0 auto;
    }
    .team__list-item:not(:last-child) {
        margin-bottom: 28px;
    }
}

@media (min-width: 768px) {
    .menu {
        padding: 38px 0 234px;
        background-image: url(../img/header-img-md.png);
    }
    .container {
        width: 680px;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 148px;
    }
    .nav__logo-link {
        display: block;
    }
    .nav__btn-inner {
        display: flex;
        letter-spacing: 1px;
    }
    .menu__logo {
        display: none;
    }
    h1 {
        font-size: 52px;
        margin-bottom: 34px;
    }
    .menu__text {
        font-size: 24px;
        margin: 0 auto 34px;
    }
    .menu__link {
        width: 226px;
    }
    /* TEAM SECTION */
    .team {
        padding-bottom: 40px;
    }
    .team-conteiner {
        width: 492px;
    }
    h2 {
        margin-bottom: 34px;
    }
    .team__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    .team__list-item {
        display: flex;
        flex-direction: column;
    }
    .list-item__flask,
    .list-item__telegram {
        order: 1;
    }
    .team__link {
        width: 192px;
    }
}

@media (max-width:1023px) {
    .team__list-item:not(:nth-last-child(2n)) {
        margin-bottom: 56px;
    }
}

@media (min-width: 1024px) {
    .menu {
        background-image: url(../img/header-img-lg.png);
    }
    .container {
        width: 944px;
    }
    .team {
        padding-bottom: 72px;
    }
    .team__list-item {
        width: 220px;
    }
    .team__list-about {
        padding: 0 2px;
    }
}