.subscribe-form {
  display: flex;
}

.subscribe-form__input {
  width: 230px;
  height: 40px;
  border: 1px solid #e7e7e7;
  border-right: transparent;
}

input::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
  color: #cccccc;
  padding-left: 12px;
}

.subscribe-form__btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  width: 150px;
  height: 40px;
  background-color: #95e1d3;
}

.subscribe-form__btn:hover,
.subscribe-form__btn:focus {
  background-color: #f38181;
}
