.subscribe-form {
  display: flex;

  &__input {
    width: 230px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-right: transparent;
    padding: 0 12px;

    &::placeholder {
      font-family: $secondary-font;
      font-style: italic;
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      color: #cccccc;
    }
  }

  &__btn {
    font-family: $main-font;
    font-size: 14px;
    font-weight: 700;
    color: $btn-text-color;
    width: 150px;
    height: 40px;
    background-color: $sub-color;

    &:hover,
    &:focus {
      background-color: $secondary-color;
    }
  }
}
