.subscribe-form {
  display: flex;

  &__input {
    width: 230px;
    height: 40px;
    border: 1px solid #e5e5e5;
    border-right: transparent;
    padding: 0 12px;

    &::placeholder {
      @include font($secondary-font, 15px, 300, 24px);
      font-style: italic;
      color: #cccccc;
    }
  }

  &__btn {
    @include font($main-font, 14px, 700);
    color: $btn-text-color;
    width: 150px;
    height: 40px;
    background-color: $form-btn-color;

    &:hover,
    &:focus {
      background-color: $form-btn-hover-color;
    }
  }
}
