.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background-color: $socials-bg-color;
  }

  &__icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    fill: $socials-link-color;
  }

  &__item:hover {
    .socials__link {
      background-color: $socials-hover-color;
      transition: all linear 0.2s;
    }

    .socials__icon {
      fill: #ffffff;
      transition: all linear 0.2s;
    }
  }

  &__item:not(:last-child) {
    border: none;
    border-right: 1px solid transparentize($socials-bg-border-color, 0.5);
  }
}
