$main-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$subtitle-font: 'Kaushan Script', cursive;

$main-color: #fce38a;
$secondary-color: #f38181;
$sub-color: #95e1d3;

$main-text-color: #333333;
$desc-text-color: #999999;
$header-text-color: #ffffff;
$btn-text-color: #ffffff;
