html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #555252;
    font-weight: 900;
    letter-spacing: -0.28px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.page-nav {
    padding-top: 37px;
}

.site-logo {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.site-logo a {
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.9px;
    line-height: 32px;
    list-style: none;
    text-transform: uppercase;
    text-decoration: none;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.site-navigation {
    float: right;
    min-width: 466px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style: none;
}

.site-navigation li {
    float: left;
}

.site-navigation li:first-child {
    margin-right: 34px;
}

.site-navigation li:nth-child(2) {
    margin-right: 37px;
}

.site-navigation li:nth-child(3) {
    margin-right: 30px;
}

.site-navigation li:nth-child(4) {
    margin-right: 27px;
}

.site-navigation li:nth-child(5) {
    margin-right: 34px;
}

.site-navigation li:last-child {
    margin-right: 0;
    letter-spacing: -0.47px;
}

.site-navigation a {
    display: block;
    color: #0f0101;
    font-weight: 700;
    line-height: 11px;
    text-transform: uppercase;
    text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}


/* GALLARY SECTION */

.section {
    padding-top: 101px;
    padding-bottom: 6px;
}

h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 91px;
}

h2::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}

.gallery-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery-list-item {
    float: left;
    width: 255px;
}

.gallery-list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.gallery-list-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}

.gallery-list-image {
    cursor: pointer;
}

div {
    float: left;
    background-color: #323232;
}

.gallery-list-title,
.gallery-list-price {
    float: left;
    margin: 0;
    height: 40px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 32px;
    text-transform: uppercase;
    cursor: pointer;
}

.gallery-list-title {
    width: 201px;
    padding: 5px 0 0 13px;
}

.gallery-list-price {
    width: 54px;
    padding: 5px 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.gallery-list-item:hover div {
    background-color: #1abc9c;
}


/* BLOG SECTION*/

.blog {
    padding-bottom: 82px;
}

.blog-list {
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.blog-list-item {
    float: left;
    width: 350px;
}

.blog-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.blog-list-image {
    margin-bottom: 8px;
}

h3 {
    margin: 0;
    margin-bottom: 23px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.34px;
}

h3::after {
    content: '';
    display: block;
    margin-top: 9px;
    width: 136px;
    height: 3px;
    background-color: #4ec6ab;
}

.blog-list-about {
    margin: 0;
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 400;
}

.blog-list-button {
    display: inline-block;
    border: 0;
    border-radius: 3px;
    margin: 0;
    padding: 13px 43px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.38px;
    line-height: 26px;
    text-decoration: none;
    color: #ffffff;
    background-color: #4ec6ab;
    cursor: pointer;
}

.blog-list-button:hover,
.blog-list-button:focus {
    background-color: #7fd9c7;
}