html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Playfair Display', serif;
    color: #626262;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.page-header {
    margin-bottom: 94px;
}

.page-nav {
    padding-top: 72px;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.site-navigation {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 900px;
    font-size: 0;
    list-style: none;
    text-align: center;
}

.site-navigation li {
    display: inline-block;
    font-size: 14px;
}

.site-navigation li:first-child {
    margin-right: 121px;
}

.site-navigation li:nth-child(2) {
    margin-right: 103px;
}

.site-navigation li:nth-child(3) {
    margin-right: 95px;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.site-navigation a {
    display: block;
    color: #626262;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 24px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}

.catalog {
    margin-bottom: 70px;
}

.catalog-list {
    margin: 0;
    margin-bottom: 51px;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.catalog-list-item {
    display: inline-block;
    width: 420px;
}

.catalog-list-item:not(:nth-child(2n)) {
    margin-right: 59px;
}

.catalog-list-item:not(:nth-last-child(-n+2)) {
    margin-bottom: 130px;
}

.catalog-list-image {
    margin-bottom: 30px;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #b4ad9e;
    margin: 0 0 32px 0;
    text-transform: uppercase;
}

.catalog-list-title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 36px 0;
}

.catalog-list-about {
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}

.load-button {
    display: block;
    border: 2px solid rgb(98, 98, 98);
    margin: 0 auto;
    margin-right: 358px;
    padding: 16px 32px;
    font-size: 20px;
    line-height: 24px;
    background-color: #ffffff;
    font-weight: 400;
    color: #626262;
    cursor: pointer;
}

.load-button:hover,
.load-button:focus {
    color: #03a9f4;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}