html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #555252;
    font-weight: 900;
    letter-spacing: -0.28px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.page-nav {
    padding: 37px 0;
}

.site-logo {
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.site-logo a {
    color: #555252;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.9px;
    line-height: 32px;
    list-style: none;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.site-navigation {
    float: right;
    min-width: 466px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style: none;
}

.site-navigation li {
    float: left;
}

.site-navigation li:first-child {
    margin-right: 34px;
}

.site-navigation li:nth-child(2) {
    margin-right: 37px;
}

.site-navigation li:nth-child(3) {
    margin-right: 30px;
}

.site-navigation li:nth-child(4) {
    margin-right: 27px;
}

.site-navigation li:nth-child(5) {
    margin-right: 34px;
}

.site-navigation li:last-child {
    margin-right: 0;
    letter-spacing: -0.47px;
}

.site-navigation a {
    color: #0f0101;
    font-weight: 700;
    line-height: 11px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}


/* SECTION SLIDER */

.slider {
    position: relative;
    margin: 0 auto;
    min-width: 1110px;
    height: 600px;
    cursor: pointer;
    background-color: #000002;
}

.slider-image {
    position: absolute;
    height: 600px;
    width: 100%;
    object-fit: cover;
    opacity: 0.522;
}

.overlay {
    position: relative;
    height: 600px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.overlay-title {
    position: absolute;
    bottom: 50%;
    left: 16%;
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    color: #ff7200;
}

.overlay-descr {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    color: #ffffff;
}

.overlay-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    display: inline-block;
    padding: 0;
    width: 104px;
    height: 104px;
    color: #ffffff;
    background-color: #4ec6ab;
    opacity: 0.651;
    cursor: pointer;
}

.overlay-arrow-left {
    left: 0;
}

.overlay-arrow-right {
    right: 0;
}

.overlay-arrow:hover {
    opacity: 1;
}

.slider:hover .slider-image,
.slider:hover .overlay-title {
    opacity: 1;
    color: #ffffff;
}


/* SECTION COLLECTION */


/* SITE FOOTER */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}