html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #555252;
    font-weight: 900;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    display: block;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

.container {
    width: 1110px;
    margin: 0 auto;
}

.page-nav {
    padding: 37px 0;
}

.site-logo {
    float: left;
    margin: 0;
}

.site-logo {
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -0.9px;
    line-height: 32px;
    list-style: none;
    color: #555252;
}

.site-logo::first-letter {
    color: #1abc9c;
    font-weight: 900;
}

.site-navigation {
    float: right;
    min-width: 466px;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    list-style: none;
}

.site-navigation li {
    float: left;
}

.site-navigation li:first-child {
    margin-right: 34px;
}

.site-navigation li:nth-child(2) {
    margin-right: 37px;
}

.site-navigation li:nth-child(3) {
    margin-right: 30px;
}

.site-navigation li:nth-child(4) {
    margin-right: 27px;
}

.site-navigation li:nth-child(5) {
    margin-right: 34px;
}

.site-navigation li:last-child {
    margin-right: 0;
    letter-spacing: -0.47px;
}

.site-navigation a {
    color: #0f0101;
    font-weight: 700;
    line-height: 11px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}


/* SLIDER */


/* .slider {
    position: relative;
    height: 600px;
}

.slider__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.522;
}

.slider__overlay {
    position: relative;
    background-color: violet;
    height: 200px;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.549);
}

.slider__btn-wrapper {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.slider__btn-arrow {
    padding: 0;
    width: 104px;
    height: 104px;
    color: #ffffff;
    background-color: #4ec6ab;
    border: none;
    cursor: pointer;
    opacity: 0.651;
}

.arrow-left {
    float: left;
}

.arrow-right {
    float: right;
}

.slider__btn-arrow:hover {
    opacity: 1;
}

.slider__info {
    width: 1110px;
    height: 600px;
    background-color: wheat;
}

.slider__info-title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 760px;
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    letter-spacing: -1.2px;
    color: #ff7200;
}

.slider__info-descr {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -0.48px;
    color: #ffffff;
} */

.slider {
    position: relative;
    height: 600px;
    background-color: rgba(0, 0, 2);
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.522;
}

.slides {
    position: relative;
    height: 600px;
    text-transform: uppercase;
    cursor: pointer;
}

.slides__title {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 738px;
    margin: 0;
    font-size: 60px;
    font-weight: 900;
    line-height: 82px;
    letter-spacing: -1.2px;
    color: #ffffff;
}

.slides__descr {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -0.48px;
    color: #ffffff;
}


/* .slides__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    display: inline-block;
    padding: 0;
    width: 104px;
    height: 104px;
    color: #ffffff;
    background-color: #4ec6ab;
    opacity: 0.651;
    cursor: pointer;
}

.slides__arrow-left {
    left: 0;
}

.slides__arrow-right {
    right: 0;
}

.slides__arrow:hover {
    opacity: 1;
} */

.slider__btn-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

.slider__btn-arrow {
    padding: 0;
    width: 104px;
    height: 104px;
    color: #ffffff;
    background-color: #4ec6ab;
    border: none;
    cursor: pointer;
    opacity: 0.651;
}

.arrow-left {
    float: left;
}

.arrow-right {
    float: right;
}

.slider__btn-arrow:hover {
    opacity: 1;
}


/* SECTION COLLECTION */

.collection {
    padding: 98px 0;
    background-color: #e9f0fd;
}

h2 {
    margin: 0;
    margin-bottom: 80px;
    font-size: 48px;
    letter-spacing: -0.98px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #515151;
}

h2::after {
    content: '';
    display: block;
    margin: 0 auto;
    margin-top: 32px;
    width: 164px;
    height: 7px;
    background-color: #1abc9c;
}

.collection__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.collection__list-item {
    position: relative;
    float: left;
    width: 255px;
}

.collection__list-item a {
    color: #ffffff;
}

.collection__list-item:not(:nth-child(4n)) {
    margin-right: 30px;
}

.collection__list-item:not(:nth-last-child(-n+4)) {
    margin-bottom: 30px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.549);
    border: 10px solid rgb(255, 255, 255, 0.549);
    background-clip: padding-box;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s linear;
}

.overlay__icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.overlay__icon-item {
    float: left;
}

.overlay__icon-item:not(:nth-child(n+3)) {
    margin-right: 7px;
}

.overlay__icon-item:not(:nth-last-child(-n+1)) {
    margin-bottom: 8px;
}

.overlay__icon-btn {
    width: 50px;
    height: 50px;
    padding: 0;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.overlay__icon-btn:hover {
    background-color: #1abc9c;
}

.overlay__icon-text {
    width: 164px;
    height: 50px;
    padding-top: 1px;
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.28px;
    text-transform: uppercase;
}

.overlay__icon-text span {
    vertical-align: middle;
    padding-right: 13px;
}

.collection__list-image-wrapper {
    position: relative;
}

.collection__list-sale {
    float: left;
    height: 40px;
    background-color: #323232;
}

.collection__sale-title,
.collection__sale-price {
    float: left;
    margin: 0;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
}

.collection__sale-title {
    width: 201px;
    padding: 5px 0 0 13px;
}

.collection__sale-price {
    width: 54px;
    padding: 5px 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

.collection__list-item:hover .collection__list-sale {
    background-color: #1abc9c;
}

.collection__list-item:hover .overlay {
    visibility: visible;
    opacity: 1;
}


/* SITE FOOTER */

.footer {
    padding: 30px 0;
    background-color: #323232;
}

.footer__text {
    margin: 0 auto;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.2px;
    color: #fefefe;
    text-align: center;
}

.footer__word {
    display: inline;
    color: #46BFA9;
    text-transform: none;
}


/* VISUALLY HIDDEN */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}