.footer {
  padding-bottom: 10px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &--topline::before {
    display: block;
    content: '';
    max-width: 1200px;
    height: 1px;
    margin-bottom: 12px;
    background-color: #cccccc;
  }

  &__copyright {
    font-family: $main-font;
    font-size: 14px;
    color: $main-text-color;
  }

  &__link {
    display: inline-block;
    text-transform: none;
    color: $sub-color;

    &:hover,
    &:focus {
      color: $secondary-color;
    }
  }
}
