.services {
  padding: 52px 0 98px;

  &__list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
    padding: 0 3px 0 80px;
    max-width: 380px;

    &::before {
      position: absolute;
      left: 20px;
      display: block;
      content: '';
      width: 32px;
      height: 32px;
      background-repeat: no-repeat;
      background-position: center;
    }

    &:not(:nth-last-child(-n+3)) {
      margin-bottom: 98px;
    }
  }

  &__icon--alarm::before {
    background-image: url("../images/services/alarm.svg");
  }

  &__icon--linegraph::before {
    background-image: url("../images/services/linegraph.svg");
  }

  &__icon--computer::before {
    background-image: url("../images/services/computer.svg");
  }

  &__icon--book::before {
    background-image: url("../images/services/book.svg");
  }

  &__icon--home::before {
    background-image: url("../images/services/home.svg");
  }

  &__icon--image::before {
    background-image: url("../images/services/image.svg");
  }
}
